<!--SIDE Navigation-->
<ul class="sidenav sidenav-fixed a-sidenav">
    <h4 style="color:DodgerBlue;">Wunschliste</h4>
  
    <li class="bold" *ngFor="let link of links" routerLinkActive="active">
      <a [routerLink]="[link.url]" class="waves-effect waves-orange">
        {{link.name}}
      </a>
    </li>
    <li class="bold last">
      <a href="#" class="waves-effect waves-orange" (click)="logout($event)">Logout</a>
    </li>
  </ul>
  
  <!--CONTENT-->
  <main class="content">
    <app-root></app-root>
  </main>
  
  <!--Floating button
  <div class="fixed-action-btn" #floating>
    <a class="btn-floating btn-large red">
      <i class="large material-icons">add</i>
    </a>
    <ul>
      <!--Knopf auf new Order
      <li >
        <a class="btn-floating green" routerLink="/order">
          <i class="material-icons">assignment</i>
        </a>
      </li>
      <!--Knopf auf Categories
      <li>
        <a class="btn-floating blue" routerLink="/categories/new">
          <i class="material-icons">list</i>
        </a>
      </li>
    </ul>
  </div>
-->
  